<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <table width="100%">
      <tr>
        <td>Runtime version: {{ data.version }}</td>
        <td>Updated: {{ data.updated }}</td>
        <td>
          <div class="flex-column d-flex align-items-end form-check form-switch">
            <!-- <span class="text-muted">  </span> -->
            <label class="form-check-label" for="lightSwitch"> Dark Mode </label>
            <input class="form-check-input" type="checkbox" id="lightSwitch" />
          </div>
        </td>
      </tr>
    </table>
  </div>
</footer>
