.wtflogo {
  margin-left: 50px;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
    color:#000;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#lightSwitch {
  transform: scale(1.8);
}

.custom-theme.bg-light {
  background-color: darkslategray !important;
  border-radius: 3px;
  color: gainsboro;
  text-decoration: underline;
}

.custom-theme.bg-dark {
  background-color: blanchedalmond !important;
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: dimgray;
  text-decoration: overline;
}
